* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main {
  background-image: url("assets/Nook.jpg") !important;
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

button {
  padding: 7px 30px;
}

.field {
  width: 100%;
}

.p-fieldset {
  padding: 1rem;
}
.p-fieldset-legend {
  padding: 5px 10px;
}
.p-inputtext {
  padding: 5px 10px;
}
.p-toast-message-content {
  padding: 1rem;
  gap: 1rem;
}
